<div class="row">
 <div class="col-xs-12">
  <img src="" alt="" class="img-responsive">
 </div>
</div>
 <div class="row">
<div class="col-xs-12">
  <h1> Accessory Name </h1>
</div>
 </div>
<div class ="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type = "button" class="btn btn-primary dropdown-toggle">
        Manage Accessories <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Patterns for bags</a></li>
      </ul>

      </div>
  </div>
</div>
